@font-face {
    font-family: "retro-font";
    src: url("../assets/80s-Retro-Future.ttf");
}

* {
    font-family: "retro-font", serif;
    user-select: none;
}

body::before {
    content: "school";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%) rotate(-90deg);
    font-size: 30vw;
    color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

body {
    background-color: gray;
}

h1 {
    font-size: 5vw;
    color: aliceblue;
    text-decoration: none;
    margin: 1vw;
}

h1 a {
    font-size: 5vw;
    color: aliceblue;
    text-decoration: none;
    margin: 1vw;
}

p {
    font-size: 2vw;
    color: aliceblue;
    text-decoration: none;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.frame_horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 0.3vw solid aliceblue; /* Creates the box */
    margin: 5vw; /* Optional: Adds spacing outside the box */
    width: 80vw;
    box-shadow: 1vw 4vw 8vw rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
}

.frame_horizontal_no_margin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 0.3vw solid aliceblue; /* Creates the box */
    margin: 0; /* Optional: Adds spacing outside the box */
    width: 80vw;
    height: 40vw;
    box-shadow: 1vw 4vw 8vw rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
}

.frame_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3vw solid aliceblue; /* Creates the box */
    margin: 5vw; /* Optional: Adds spacing outside the box */
    width: 80vw;
    box-shadow: 1vw 4vw 8vw rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 15vw;
}

h2 {
    text-align: center;
    font-size: 3vw;
    color: black;
    margin: 1vw;
}

h2 a {
    font-size: 2vw;
    color: aliceblue;
    text-decoration: none;
    margin: 1vw;
    target: "_blank";
}
